.cpvt-bg {
    position: absolute;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.cpvt-bg.top_left { top: 0; left: 0; }
.cpvt-bg.top_right { top: 0; right: 0; }
.cpvt-bg.bottom_left { bottom: 0; left: 0; }
.cpvt-bg.bottom_right { bottom: 0; right: 0; }
